In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
try:
    session.execute("select * from music_lib")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [6]:
try:
    session.execute("""CREATE KEYSPACE IF NOT EXISTS test 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1}""")
except Exception as e:
    print(e)

In [7]:
try:
    session.set_keyspace('test')
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="unconfigured table test"

In [10]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [13]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"
try:
    session.execute(query, (1970, "The Beatles", "Let it be"))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

In [14]:
#select statement just to validate since it is a tiny dataset
#won't be using on production dataset as it would be massive
query = "SELECT * FROM music_library WHERE year = 1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.artist_name, row.album_name)

1970 The Beatles Let it be