In [2]:
import psycopg2

In [4]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=postgres password=akash99")
except psycopg2.Error as e:
    print("Error: could not make connection to the database")
    print(e)

In [5]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: could not create cursor")
    print(e)

In [7]:
conn.set_session(autocommit=True)

In [8]:
try:
    cur.execute("SELECT * FROM udacity_music")
except psycopg2.Error as e:
    print("Error")
    print(e)

Error
relation "udacity_music" does not exist
LINE 1: SELECT * FROM udacity_music
                      ^

In [9]:
try:
    cur.execute("CREATE DATABASE udacity")
except psycopg2.Error as e:
    print(e)

In [10]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

In [3]:
try:
    conn = psycopg2.connect("dbname = udacity user=postgres password = akash99")
except psycopg2.Error as e:
    print(e)

In [4]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)

In [5]:
conn.set_session(autocommit = True)

In [9]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_name varchar, artist_name varchar, year int);")
except psycopg2.Error as e:
    print(e)

In [16]:
try:
    cur.execute("SELECT COUNT(*) FROM music_library")
except psycopg2.Error as e:
    print(e)
print(cur.fetchall())

[(0,)]

In [23]:
try:
    cur.execute("INSERT INTO music_library (album_name, artist_name, year) \
                VALUES (%s, %s, %s)", \
                ("Let it Be","The Beatles",1970))
except psycopg2.Error as e:
    print(e)

In [24]:
try:
    cur.execute("INSERT INTO music_library (album_name, artist_name, year) VALUES (%s, %s, %s)", ("Rubber Soul","The Beatles",1965))
except psycopg2.Error as e:
    print(e)

In [28]:
try:
    cur.execute("SELECT * FROM music_library")
except psycopg2.Error as e:
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Let it Be', 'The Beatles', 1970)
('Rubber Soul', 'The Beatles', 1965)

In [26]:
try:
    cur.execute("SELECT COUNT(*) FROM music_library")
except psycopg2.Error as e:
    print(e)
    
print(cur.fetchall())

[(2,)]