In [1]:
import psycopg2

In [4]:
try:
    conn = psycopg2.connect("dbname=studentdb user=postgres password=akash99")
except psycopg2.Error as e:
    print(e)

In [6]:
cur = conn.cursor()

In [8]:
conn.set_session(autocommit=True)

In [9]:
cur.execute("SELECT * FROM album_library2 ab \
JOIN artist_library ar \
ON ab.artist_id = ar.artist_id \
JOIN song_library2 s \
ON s.album_id = ab.album_id")
cur.fetchall()

[(1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 1, 1, 'Michelle'),
 (1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 2, 1, 'Think For Yourself'),
 (1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 3, 1, 'In My Life'),
 (2, 'Let It Be', 1, 1970, 1, 'The Beatles', 4, 2, 'Let It Be'),
 (2, 'Let It Be', 1, 1970, 1, 'The Beatles', 5, 2, 'Across The Universe')]

In [11]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_length (song_id int, song_length int)")
except psycopg2.Error as e:
    print(e)

In [13]:
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES(%s,%s)", (1,163))
except psycopg2.Error as e:
    print(e)

In [14]:
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES(%s,%s)", (2,137))
except psycopg2.Error as e:
    print(e)

In [15]:
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES(%s,%s)", (3,145))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES(%s,%s)", (4,240))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES(%s,%s)", (5,227))
except psycopg2.Error as e:
    print(e)

In [17]:
try:
    cur.execute("SELECT * FROM song_length")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 163)
(2, 137)
(3, 145)
(4, 240)
(5, 227)

In [26]:
cur.execute("SELECT ar.artist_id, ar.artist_name, ab.album_id, ab.album_name, s.song_id, s.song_name, sl.song_length \
FROM album_library2 ab \
JOIN artist_library ar \
ON ar.artist_id = ab.artist_id \
JOIN song_library2 s \
ON ab.album_id = s.album_id \
JOIN song_length sl \
ON s.song_id = sl.song_id")
cur.fetchall()

[(1, 'The Beatles', 1, 'Rubber Soul', 1, 'Michelle', 163),
 (1, 'The Beatles', 1, 'Rubber Soul', 2, 'Think For Yourself', 137),
 (1, 'The Beatles', 1, 'Rubber Soul', 3, 'In My Life', 145),
 (1, 'The Beatles', 2, 'Let It Be', 4, 'Let It Be', 240),
 (1, 'The Beatles', 2, 'Let It Be', 5, 'Across The Universe', 227)]

In [28]:
#beginning the process of denormalization
#1.creating new tables to reduce the number of joins

try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library3 \
    (album_id int, album_name varchar, artist_name varchar, year int)")
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library3 \
    (song_id int, album_id int, song_name varchar, song_length int)")
except psycopg2.Error as e:
    print(e)

In [29]:
try:
    cur.execute("INSERT INTO album_library3 (album_id, album_name, artist_name, year) \
    VALUES (%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_library3 (album_id, album_name, artist_name, year) \
    VALUES (%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library3 (song_id, album_id, song_name, song_length) \
    VALUES (%s,%s,%s,%s)", \
    (1, 1, "Michelle", 163))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library3 (song_id, album_id, song_name, song_length) \
    VALUES (%s,%s,%s,%s)", \
    (2, 1, "Think For Yourself", 137))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library3 (song_id, album_id, song_name, song_length) \
    VALUES (%s,%s,%s,%s)", \
    (3, 1, "In My Life", 145))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library3 (song_id, album_id, song_name, song_length) \
    VALUES (%s,%s,%s,%s)", \
    (4, 2, "Let It Be", 240))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library3 (song_id, album_id, song_name, song_length) \
    VALUES (%s,%s,%s,%s)", \
    (5, 2, "Across The Universe", 227))
except psycopg2.Error as e:
    print(e)

In [30]:
#denormalization by eliminating joins
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_length \
    (song_id int, song_name varchar, album_name varchar, song_length int)")
except psycopg2.Error as e:
    print(e)

In [31]:
try:
    cur.execute("INSERT INTO album_length (song_id, song_name, album_name, song_length) \
    VALUES(%s,%s,%s,%s)", (1, "Michelle", "Rubber Soul", 163))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_length (song_id, song_name, album_name, song_length) \
    VALUES(%s,%s,%s,%s)", (2, "Think For Yourself", "Rubber Soul", 137))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_length (song_id, song_name, album_name, song_length) \
    VALUES(%s,%s,%s,%s)", (3, "In My Life", "Rubber Soul", 145))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_length (song_id, song_name, album_name, song_length) \
    VALUES(%s,%s,%s,%s)", (4, "Let It Be", "Let It Be", 240))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_length (song_id, song_name, album_name, song_length) \
    VALUES(%s,%s,%s,%s)", (5, "Across The Universe", "Let It Be", 227))
except psycopg2.Error as e:
    print(e)

In [35]:
#validating denormalization
cur.execute("SELECT album_name, SUM(song_length) \
FROM album_length \
GROUP BY 1")
cur.fetchall()

[('Rubber Soul', 445), ('Let It Be', 467)]

In [ ]:
#denormalization achieved and read performance increased with eliminating the usage of joins

In [36]:
cur.close()
conn.close()