In [2]:
import psycopg2

In [3]:
try:
    conn = psycopg2.connect("dbname = studentdb user = postgres password = akash99")
except psycopg2.Error as e:
    print(e)

In [4]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)
conn.set_session(autocommit = True)

In [5]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_id int, album_name varchar, \
    artist_name varchar, year int, songs text[]);")
except psycopg2.Error as e:
    print(e)

In [12]:
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, ["Michelle", "Think For Yourself", "In My Life"]))
except psycopg2.Error as e:
    print(e)

In [13]:
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
    VALUES (%s,%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970, ["Let It Be","Across The Universe"]))
except psycopg2.Error as e:
    print(e)

In [14]:
try:
    cur.execute("SELECT * FROM music_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])

In [15]:
try:
    cur.execute("SELECT * FROM music_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])

In [16]:
#to achieve 1NF
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2 (album_id int, album_name varchar, \
    artist_name varchar, year int, song_name varchar);")
except psycopg2.Error as e:
    print(e)

In [18]:
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, "Michelle"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, "Think For Yourself"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, "In My Life"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970, "Let It Be"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970, "Across The Universe"))
except psycopg2.Error as e:
    print(e)

In [19]:
#1NF : 1. automicity satisfied
try:
    cur.execute("SELECT * FROM music_library2")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 'Across The Universe')