In [2]:
import psycopg2

In [3]:
try:
    conn = psycopg2.connect("dbname = studentdb user = postgres password = akash99")
except psycopg2.Error as e:
    print(e)

In [4]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)
conn.set_session(autocommit = True)

In [5]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_id int, album_name varchar, \
    artist_name varchar, year int, songs text[]);")
except psycopg2.Error as e:
    print(e)

In [12]:
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, ["Michelle", "Think For Yourself", "In My Life"]))
except psycopg2.Error as e:
    print(e)

In [13]:
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
    VALUES (%s,%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970, ["Let It Be","Across The Universe"]))
except psycopg2.Error as e:
    print(e)

In [14]:
try:
    cur.execute("SELECT * FROM music_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])

In [15]:
try:
    cur.execute("SELECT * FROM music_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])

In [16]:
#to achieve 1NF
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2 (album_id int, album_name varchar, \
    artist_name varchar, year int, song_name varchar);")
except psycopg2.Error as e:
    print(e)

In [18]:
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, "Michelle"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, "Think For Yourself"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965, "In My Life"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970, "Let It Be"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s,%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970, "Across The Universe"))
except psycopg2.Error as e:
    print(e)

In [19]:
#1NF satisfied : 1. automicity satisfied
try:
    cur.execute("SELECT * FROM music_library2")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 'Across The Universe')

In [20]:
#trying to achieve 2NF
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library \
    (album_id int, album_name varchar, artist_name varchar, year int)")
except psycopg2.Error as e:
    print(e)

In [21]:
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name, year) \
    VALUES (%s,%s,%s,%s)", \
    (1, "Rubber Soul", "The Beatles", 1965))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name, year) \
    VALUES (%s,%s,%s,%s)", \
    (2, "Let It Be", "The Beatles", 1970))
except psycopg2.Error as e:
    print(e)

In [22]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library \
    (song_id int, album_id int, song_name varchar)")
except psycopg2.Error as e:
    print(e)

In [23]:
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (1, 1, "Michelle"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (2, 1, "Think For Yourself"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (3, 1, "In My Life"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (4, 2, "Let It Be"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (5, 2, "Across The Universe"))
except psycopg2.Error as e:
    print(e)

In [24]:
try:
    cur.execute("SELECT * FROM album_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965)
(2, 'Let It Be', 'The Beatles', 1970)

In [25]:
try:
    cur.execute("SELECT * FROM song_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')

In [27]:
#just a basic join to check the relation 

try:
    cur.execute("SELECT a.year, s.song_name FROM album_library a JOIN song_library s ON a.album_id = s.album_id")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1965, 'Michelle')
(1965, 'Think For Yourself')
(1965, 'In My Life')
(1970, 'Let It Be')
(1970, 'Across The Universe')

In [29]:
#2NF successfully achieved

In [32]:
#Moving on with 3NF (to remove transitive dependencies)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library \
    (artist_id int, artist_name varchar)")
except psycopg2.Error as e:
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library2 \
    (album_id int, album_name varchar, artist_id int, year int)")
except psycopg2.Error as e:
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library2 \
    (song_id int, album_id int, song_name varchar)")
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_library2 (album_id, album_name, artist_id, year) \
    VALUES (%s,%s,%s,%s)", \
    (1, "Rubber Soul", 1, 1965))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO album_library2 (album_id, album_name, artist_id, year) \
    VALUES (%s,%s,%s,%s)", \
    (2, "Let It Be", 1, 1970))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO artist_library (artist_id, artist_name) \
    VALUES (%s,%s)", \
    (1, "The Beatles"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (1, 1, "Michelle"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (2, 1, "Think For Yourself"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (3, 1, "In My Life"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (4, 2, "Let It Be"))
except psycopg2.Error as e:
    print(e)
try:
    cur.execute("INSERT INTO song_library2 (song_id, album_id, song_name) \
    VALUES (%s,%s,%s)", \
    (5, 2, "Across The Universe"))
except psycopg2.Error as e:
    print(e)

In [55]:
print("\ntable 1\n")
try:
    cur.execute("SELECT * FROM album_library2")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
print("\ntable 2\n")
try:
    cur.execute("SELECT * FROM artist_library")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
print("\ntable 3\n")
try:
    cur.execute("SELECT * FROM song_library2")
except psycopg2.Error as e:
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

table 1

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

table 2

(1, 'The Beatles')

table 3

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')

In [59]:
#validating 3NF
cur.execute("SELECT * FROM album_library2 ab \
JOIN artist_library ar \
ON ab.artist_id = ar.artist_id \
JOIN song_library2 s \
ON s.album_id = ab.album_id")
cur.fetchall()

[(1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 1, 1, 'Michelle'),
 (1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 2, 1, 'Think For Yourself'),
 (1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 3, 1, 'In My Life'),
 (2, 'Let It Be', 1, 1970, 1, 'The Beatles', 4, 2, 'Let It Be'),
 (2, 'Let It Be', 1, 1970, 1, 'The Beatles', 5, 2, 'Across The Universe')]

In [52]:
#3NF achieved

In [60]:
cur.close()
conn.close()